# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/

# Java
*.class
*.jar
*.war
*.ear
target/
build/
out/

# Gradle
.gradle/

# Maven
.mvn/
target/

# C++
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.a

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Logs
*.log
